.svg-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
  
    &.email         { background-image: url(/asstets/icons/email.svg); }
    &.twitter       { background-image: url(/asstets/icons/twitter.svg); }
    &.github        { background-image: url(/asstets/icons/github.svg); }
    &.linkedin      { background-image: url(/asstets/icons/linkedin.svg); }
    &.googlescholar	{ background-image: url(/asstets/icons/scholar.svg); }
  }